
<div class="box-model">
<form #v="ngForm">
  
  <div class="card" >
   
  <div class="form-group" >
       <h1 >Login Form</h1>
         
        <label for="exampleInputEmail1" >Email address</label>

        <input type="email"class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="login_info.email" #email="ngModel"><br>
        <label for="exampleInputEmail1" >password</label>
        <input type="password"class="form-control" name="passwords" placeholder="password.." [(ngModel)]="login_info.password" required="password"  #password="ngModel"><br><br>
          <div class="button">
        <button type="button" class="btn btn-secondary btn-lg" (click)="login()">Submit</button>
      </div>
      
      <div class="signup-btn">
        <a [routerLink]="['/signup']">Sign Up</a>
      </div>
   </div>
       </div>
  

  </form>
</div>




    
